<div class="page-header">
  <h1>Company#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= companiesPath() %>" class="btn btn-info">Back to all Companies</a></li>
  <li class="list-inline-item"><a href="<%= editCompanyPath({ company_id: company.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= companyPath({ company_id: company.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

