<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Greenretro</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <!-- Main navigation bar for the application -->
    <nav class="nav navbar navbar-expand-sm bg-dark">
      <a href="<%= rootPath() %>">
        <img alt="Green Retro Logo" class="float-left" width="42" src="<%= assetPath("images/logo.svg") %>">
      </a>
      <!-- Fixed links to useful pages in the application -->
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a href="<%= rootPath() %>" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="/documentation" class="nav-link text-white">Documentation</a>
        </li>
      </ul>
      <!-- Button set on the right hand side to sign up/in/out -->
      <ul class="nav navbar-nav">
        <%= if (current_user) { %>
          <li class="nav-item account-name">
            <h5 class="text-white"><%= current_user.Email %></h6>
          </li>
          <li class="nav-item">
            <a href="/signout" data-method="DELETE" class="btn btn-light session-btn">Sign Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/users/new" class="btn btn-secondary session-btn">Register</a>
          </li>
          <li class="nav-item">
              <a href="/signin" class="btn btn-light session-btn">Sign In</a>
            </li>
          <% } %>
      </ul>
    </nav>

    <div class="container-fluid">
      <%= partial("flash.html") %>
    </div>
    <div class="container">
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
