@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

@import 'buffalo';

.session-btn {
  margin-right: .625rem;
}

.account-name {
  padding: 0 .625rem;
  text-align: center;
}
