<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Greenretro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <!-- Add top navigation bar to all pages -->
    <header class="topnav">
      <div class="topnav-left">
        <img src="assets/images/logo.svg" alt="Green Retro Logo" height="42" width="42">
      </div>
      <div class="topnav-left">
        <a class="active" href="/">Home</a>
      </div>
      <div class="topnav-right">
        <div class="auth-center">
          <%= if (current_user) { %>
            <h1><%= current_user.Email %></h1>
            <a href="/account" data-method="GET">My Account</a>
            <a href="/signout" data-method="DELETE">Sign Out</a>
          <% } else { %>
            <a href="/signin" class="btn btn-primary">Sign In</a>
            <a href="/register" class="btn btn-success">Register</a>
          <% } %>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <%= partial("flash.html") %>
    </div>
    <div class="container">
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
