<div class="auth-wrapper">
  <div class="sign-form">
    <h1>Register</h1>

    <%= form_for(user, {action: usersPath()}) { %>
      <%= f.InputTag("First Name", {placeholder: "Gypsy"}) %>
      <%= f.InputTag("Last Name", {placeholder: "Dog"}) %>
      <%= f.InputTag("Email", {placeholder: "gypsy@example.com"}) %>
      <%= f.InputTag("Password", {type: "password"}) %>
      <%= f.InputTag("PasswordConfirmation", {type: "password"}) %>

      <button class="btn btn-success">Register!</button>
    <% } %>
  </div>
</div>